.wrap {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  background-color: beige;
  margin: auto;
}

/* 01. nav */
nav {
  width: 20%;
  height: 100vh;
  background-color: teal;
}

/* 02. mainWrap */
.main_wrap {
  width: 600px;
  margin: 150px auto 0 auto;
}

/* 02-1.heaer */
.todo_header {
  margin-bottom: 100px;
}

header > h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
}

header > span {
  font-size: 24px;
  font-weight: 400;
}

/* 02-2. wrapTodo(Section) */
.wrap_todo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

.add_todo {
  font-size: 1.125rem;
  font-weight: 700;
}

.add_todo > span {
  margin-left: 16px;
}

/* 02-2[1] : 드롭다운 */
.tag_dropdown {
  background-color: aqua;
}

/* 02-3: todoList */
.todo_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  padding: 1rem;
  border: 1px solid black;
}

.todo_title {
  width: 100%;
  height: 50px;
  background-color: rgb(253, 137, 150);
}

.todo_title h3 {
  font-size: 24px;
  font-weight: 700;
  color: red;
}

.todo_title span {
  font-size: 1.25rem;
  color: blue;
  padding-top: 30px;
}

.todo_desc {
  display: flex;
}

.todo_title {
  margin-left: 1.875rem;
}

.todo_tag {
  display: flex;
  align-items: center;
  margin-top: 16px;
  font-size: 14px;
}
